/* overrides and new styles only */

/* This can be greatly simplified via Compass. Talk to Steven. */
#github-container
{
  overflow: hidden;
  top: 0;
  position: absolute;
  width: 100%;
  height: 150px;
}
#github
{
  height: 30px;
  right: -65px;
  position: absolute;
  text-decoration: none;
  top: 40px;
  width: 250px;
  z-index: 2000; /* to overcome Twitter-bootstrap */

  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
#github span
{
  background: #073642;
  color: #839496;
  font-size: 14px;
  left: 0;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  width: 250px;

  -moz-box-shadow: rgba(255,255,255,0.3) 1px 1px 10px;
  -o-box-shadow: rgba(255,255,255,0.3) 1px 1px 10px;
  -webkit-box-shadow: rgba(255,255,255,0.3) 1px 1px 10px;
  box-shadow: rgba(255,255,255,0.3) 1px 1px 10px;

  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
#github span:last-child
{
  background: #0087ff;
  color: #eee8d5;
  opacity: 0;
}
#github :hover span:first-child
{
  opacity: 0;
}
#github :hover span:last-child
{
  opacity: 1;
}
@media all and (-webkit-transform-3d)
{
  #github span
  {
    opacity: 1 !important;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 1s;
  }
  #github span:last-child
  {
    -webkit-transform: rotateX(180deg);
  }
  #github:hover span:first-child
  {
    -webkit-transform: rotateX(180deg);
  }
  #github:hover span:last-child
  {
    -webkit-transform: rotateX(360deg);
  }
}

.topic .gist{
  clear: both;
  margin: 15px 0 !important;
}

.topic .gist-file{
  border: none !important;
}

.topic .gist-meta{
  padding: 12px !important;
  border-bottom:1px solid rgba(0, 0, 0, 0.15);
  border-right:1px solid rgba(0, 0, 0, 0.15);
  border-left:1px solid rgba(0, 0, 0, 0.15);
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;

}

.topic .gist-data {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  background:white !important;
  display:block;
  padding-top: 5px;
  margin:0 0 0px;
  line-height:0px;
  font-size:12px;
  border:1px solid rgba(0, 0, 0, 0.15);
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
}

.topic .gist-highlight {
  padding: 3px 3px 3px 3px !important;
  font-family:Monaco, Andale Mono, Courier New, monospace;
  font-size:12px;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}

.topic code {
  padding: 1px 3px 2px 3px !important;
  font-family:Monaco, Andale Mono, Courier New, monospace;
  font-size:12px;
  line-height: 1.4em;
  border: 1px solid #DEDEDE;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius: 3px;
  background:white !important;
}

.content-area {
  padding-top: 60px;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #E5E5E5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

#social ul {
  margin-left:10px;
}