<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} Not So Secret Sauce </title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div id="main">
    <header>
      <h1>Not So Secret Sauce</h1>
    <header>
    <nav role="navigation">
      <ul>
        <li><a href="/">Home</a></li>
      </ul>
    </nav>
    {{ content }}
    <footer>
      <p>&copy; GNU Free Documentation License Version 1.3</p>
    </footer>
  </div>
</body>
</html>